<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyPhotos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>777F18471CCC699F0092C5B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>777F185B1CCC699F0092C5B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>777F18661CCC699F0092C5B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
